# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7
    resource_class: large
      # machine:
      #   resource_class: gpu.nvidia.small
      #   image: "ubuntu-1604-cuda-10.1:201909-23"

    working_directory: ~/repo

    steps:
      - run:
          name: pre-setup
          command: |
            curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash
            sudo apt-get install git-lfs
            git lfs install

      - checkout

      - restore_cache:
          keys:
          - v3-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v3-dependencies-

      - run:
          name: install
          command: |
            python3 -m venv ~/venv
            . ~/venv/bin/activate
            pip install -r requirements.txt
            pip install -e .
      - save_cache:
          paths:
            - ~/venv
          key: v3-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: Static Type Checks
          command: |
            . ~/venv/bin/activate
            mypy .

      - run:
          name: Run Tests
          command: |
            . ~/venv/bin/activate
            pytest -vs

      - store_artifacts:
          path: test-reports
          destination: test-reports

      - store_test_results:
          path: test-results